<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">


    <context:property-placeholder location="classpath:xsunrpc.properties"/>
    <context:component-scan base-package="com.xsun.rpc.demo.server.impl" />

    <beans>
        <bean id="serviceRegistry" class="com.xsun.rpc.zookeeper.registry.ZookeeperServiceRegistry">
            <constructor-arg value="${rpc.registry_address}"/>
        </bean>

        <bean id="xsunRpcServer" class="com.xsun.rpc.server.RpcServer">
            <constructor-arg name="serviceAddress" value="${rpc.server_address}"/>
            <constructor-arg name="serviceRegistry" ref="serviceRegistry"/>
        </bean>
    </beans>
</beans>